<div class="row">
    <div class="login">
        <div class="loginArea">
            <div class="row">
                <div class="loginCard">
                    <div class="row">
                        <div class="loginHeading">
                            <span class="yellowColor">Sign Into Market Place</span>
                        </div>
                    </div>
                    <div class="row mt-3 mb-2">
                        <input type="text" placeholder="Email Address">
                    </div>
                    <div class="row">
                        <input type="text" placeholder="Password">
                    </div>
                    <div class="row">
                        <div class="fogotPass yellowColor px-0 mt-1">
                            <a >Forgot Password?</a>
                        </div>
                    </div>
                    <div class="row">
                       <div class="loginButton px-0">
                        <button class="greenButton float-end" (click)="logIn()" >Sign In</button>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>