<div class="row">
    <div class="col-lg col-md px-0">
        <div class="heading">
           Overview
        </div>
    </div>
</div>
<div class="row">
    <div class="hrLine"></div>
</div>
<div class="row">
    <div class="reciept px-0">Reciept</div>
</div>
<div class="row">
    <div class="col-4 ps-0">
        <table mat-table [dataSource]="dataSource1" class="w-100">
            <ng-container matColumnDef="basket1">
                <th mat-header-cell *matHeaderCellDef> Basket 1 </th>
                <td mat-cell *matCellDef="let element" > {{element.basket1}} </td>
            </ng-container>
            <ng-container matColumnDef="basket2">
                <th mat-header-cell *matHeaderCellDef> Basket2 </th>
                <td mat-cell *matCellDef="let element" > {{element.basket2}} </td>
            </ng-container>
            <ng-container matColumnDef="myopp">
                <th mat-header-cell *matHeaderCellDef> My Opp </th>
                <td mat-cell *matCellDef="let element" > {{element.myopp}} </td>
            </ng-container>
            <ng-container matColumnDef="outcome">
                <th mat-header-cell *matHeaderCellDef> Outcome </th>
                <td mat-cell *matCellDef="let element" > {{element.outcome}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        </table>

        <div class="row">
            <div class="bottomDiv"></div>
        </div>
        <div class="row mt-1">
            <p class="smallText px-0">Deposit:</p>
            <p class="smallText px-0">Outcome:</p>
        </div>
    </div>

    <div class="col-4 ps-0">
        <table mat-table [dataSource]="dataSource2" class="w-100">
            <ng-container matColumnDef="channel">
                <th mat-header-cell *matHeaderCellDef>Channel</th>
                <td mat-cell *matCellDef="let element" > {{element.channel}} </td>
            </ng-container>
            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let element" > {{element.item}} </td>
            </ng-container>
            <ng-container matColumnDef="cripto">
                <th mat-header-cell *matHeaderCellDef> Cripto </th>
                <td mat-cell *matCellDef="let element" > {{element.cripto}} </td>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
        <div class="row">
            <div class="bottomDiv"></div>
        </div>
        <div class="row mt-1">
            <p class="smallText px-0">Total:</p>
        </div>
    </div>
    <div class="col-4 ps-0">
        <table mat-table [dataSource]="dataSource2" class="w-100">
            <ng-container matColumnDef="channel">
                <th mat-header-cell *matHeaderCellDef>Channel</th>
                <td mat-cell *matCellDef="let element" > {{element.channel}} </td>
            </ng-container>
            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let element" > {{element.item}} </td>
            </ng-container>
            <ng-container matColumnDef="cripto">
                <th mat-header-cell *matHeaderCellDef> Cripto </th>
                <td mat-cell *matCellDef="let element" > {{element.cripto}} </td>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
        <div class="row">
            <div class="bottomDiv"></div>
        </div>
        <div class="row mt-1">
            <p class="smallText px-0">Total:</p>
        </div>
    </div>
    <div class="col-6 ps-0" style="margin-bottom: 150px;">
        <div class="row mb-2 mt-3">
            <div class="reciept px-0">
                Reciept History
            </div>
        </div>
        <div class="hrLine mb-3"></div>
        <table mat-table [dataSource]="dataSource4" class="w-100">
            <ng-container matColumnDef="Date&Time">
                <th mat-header-cell *matHeaderCellDef>Date & Time </th>
                <td mat-cell *matCellDef="let element" > {{element.DateAndTime}} </td>
            </ng-container>
            <ng-container matColumnDef="Deliver">
                <th mat-header-cell *matHeaderCellDef> Deliver </th>
                <td mat-cell *matCellDef="let element" > {{element.deliver}} </td>
            </ng-container>
            <ng-container matColumnDef="Deposite">
                <th mat-header-cell *matHeaderCellDef>Deposite</th>
                <td mat-cell *matCellDef="let element" > {{element.deposite}} </td>
            </ng-container>
            <ng-container matColumnDef="outcome">
                <th mat-header-cell *matHeaderCellDef> Outcome </th>
                <td mat-cell *matCellDef="let element" > {{element.outcome}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
        </table>
        
    </div>
</div>