.heading{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.reciept{
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
.hrLine{
    height: 1px;
    width: 100%;
    background: #116e51;

}
.bottomDiv{
    height: 40px;
    background: #4a4a4a;
    margin-top: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.smallText{
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
}